# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\BT CTDL&GT\1089. Duplicate Zeros\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
