# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\BT CTDL&GT\485. Max Consecutive Ones\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
